<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home Page</title>
  <link rel="icon" type="image/png" href="images/nodejs.png" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css" />
  <link rel="stylesheet" href="/css/home.css" />
  <script>
    function confirmDelete(userID) {
      const isConfirmed = confirm("Are you sure for removing this user?");
      if (isConfirmed) {
        window.location.href = `remove_user/${userID}`;
      }
    }
  </script>
</head>

<body>
  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/create">Create User</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>

  <div class="table-container">
    <div class="title">User List</div>
    <table>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
        <th>City</th>
        <th>Action</th>
      </tr>
      <% for (const user of listUsers) { %>
        <tr class="table-data">
          <td>
            <%= user.id %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td>
            <%= user.name %>
          </td>
          <td>
            <%= user.city %>
          </td>
          <td>
            <button onclick="window.location.href='/edit_user/<%=user.id%>'">Edit</button>
            <button onclick="confirmDelete('<%= user.id %>')">Delete</button>
          </td>
        </tr>
        <% } %>
    </table>
  </div>
</body>

</html>